@import "../index.scss";
$input-border : 0.8px;
.field {
  &__label {
    font-size: var(--font-base);
    font-weight: var(--font-medium);
    color: var(--charcoal-color);
    letter-spacing: 0.01em;
    display: block;
  }
  &__container {
    display: grid;
    gap: 8px;
  }
  &__input {
    display: flex;
    background: var(--white-color);
    border: $input-border solid #BBBBBB;
    border-radius: 4px;
    font-size: var(--font-base);
    font-weight: var(--font-normal);
    padding: 9px 12px;
    color: var(--charcoal-color);
    &:focus-within {
      border: $input-border solid var(--secondary-color);
    }
  }
  &__error {
    border: $input-border solid var(--error-color);
  }
  &__error-message {
    @extend .field__label;
    color: var(--error-color);
    transform: translateY(-25px);
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }
}

.message-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

input {
  border: none;
  width: 100%;
  // background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% ;
  &:focus {
    outline: none;
  }
}