@import "../index.scss";
$input-border : 0.8px;
.field {
  &__label {
    font-size: var(--font-base);
    font-weight: var(--font-medium);
    color: var(--charcoal-color);
    letter-spacing: 0.01em;
    display: block;
  }
  &__container {
    display: grid;
    gap: 8px;
  }
  &__input {
    display: flex;
    background: var(--white-color);
    border: $input-border solid #BBBBBB;
    border-radius: 4px;
    font-size: var(--font-base);
    font-weight: var(--font-normal);
    padding: 9px 12px;
    height: 100%;
    color: var(--charcoal-color);
    &:focus-within {
      border: $input-border solid var(--secondary-color);
    }
  }
}

input {
  border: none;
  width: 100%;
  &:focus {
    outline: none;
  }
}