$primary : hsl(349, 100%, 63%);
$secondary : hsl(209, 100%, 55%);
$success : hsl(100, 77%, 44%);
$grey : hsl(0, 0%, 90%);
$black : hsl(0, 0%, 0%);
$charcoal : hsl(0, 0%, 29%);
$whitesmoke : hsl(0, 0%, 93%);
$gainsboro : hsl(0, 0%, 87%);
$whitesnow : hsl(0, 0%, 98%);
$white : hsl(0, 0%, 100%);