.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap-xs {
  gap: 4px;
}

.gap-sm {
  gap : 8px
}

.gap-md {
  gap: 16px;
}

.gap-lg {
  gap: 24px;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}

.h-screen {
  height: 100vh;
}