

:root {

  /* color */

  --primary-color : #FF4265;
  --secondary-color : #1890FF;
  --success-color : #52C41A;
  --grey-color : #E5E5E5;
  --black-color : #000000;
  --grey-color : #777777;
  --charcoal-color : #4A4A4A;
  --white-smoke : #EEEEEE;
  --gainsboro : #DDDDDD;
  --whitesnow : #FAFAFA;
  --white-color : #FFFFFF;

/* font */
  --font-header : 1.5rem;
  --font-lg : 1.125rem;
  --font-base : .75rem; /* 12px */
  --font-sm : .625rem /* 10px */ ;
  --font-xs : .5rem  /* 8px */ ;

  --font-normal : 400;
  --font-medium : 500;
  --font-bold : 700;

}

*, *::before, *::after {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  
  padding: 0;
  background-color: var(--whitesmoke-color);
  font-family: 'Roboto' ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
  font: inherit;
}


.hidden {
  visibility: hidden ;
}

.pointer {
  cursor: pointer;
}

